* { margin: 0 0; }
body { position: relative; }

.machine { position: relative; border: 1px solid black; margin: 0 auto; }
.machine > div { padding: 5px 5px; }
.root { border: 1px solid black; width: 300px; top: 50px; }
.top { text-align: center; }
.body { text-align: center; font-size: 3em; height: 120px; }
.body .slot { display: inline-block; width: 22%; height: 100px; line-height: 100px; border: 1px solid black; }
.bottom { text-align: center; }

.result { margin-top: 10px; overflow: auto; }
